* {
    font-family: 'Barlow';
    margin: 0;
    padding: 0;
}

.header {
    background: url("assets/header.jpg") no-repeat top center;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    width: 100%;
    max-height: 800px;
    aspect-ratio: 1;
    background-size: cover;

    @media only screen and (min-width: 768px) {
        aspect-ratio: 1280/720;
    }
}

.content {
    position: absolute;
    top: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
}

.logo {
    box-sizing: border-box;
    max-width: 80%;
    margin: 128px 0;

    @media only screen and (min-width: 768px) {
        margin: 256px 0;
    }
}

body {
    background-color: #f5f5f5;
}

.menu-grid {
    display: grid;
    margin: 0;
    gap: 16px;
    padding: 0 16px;
    padding-bottom: 32px;
    grid-template-columns: 1fr 1fr;

    /* @media only screen and (min-width: 400px) {
        grid-template-columns: 1fr 1fr 1fr;
    } */

    @media only screen and (min-width: 768px) {
        padding: 0 64px;
        padding-bottom: 64px;
        grid-template-columns: 1fr 1fr 1fr 1fr;
    }
}

.menu-card {
    display: flex;
    flex-direction: column;
    padding-bottom: 16px;
    background-color: #fafafa;
    border: 4px solid #fafafa;

    @media only screen and (min-width: 768px) {
        padding-bottom: 32px;
    }

    img {
        aspect-ratio: 1;
        object-fit: cover;
        width: 100%;
    }

    .menu-name {
        padding: 8px 16px;
        text-align: center;
        font-size: 14pt;

        @media only screen and (min-width: 768px) {
            font-size: 22pt;
        }
    }

    .menu-description {
        text-align: center;
        padding: 0 16px;
        padding-bottom: 16px;
        font-size: 10pt;

        @media only screen and (min-width: 768px) {
            font-size: 14pt;
        }
    }

    .price-description {
        font-size: 10pt;

        @media only screen and (min-width: 768px) {
            font-size: 14pt;
        }
    }

    .menu-price-row {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
        padding: 0 16px;
    }

    .price-and-qty {
        display: flex;
        flex-direction: row;
        align-items: center;
        gap: 8px;
    }

    .price {
        font-size: 14pt;

        @media only screen and (min-width: 768px) {
            font-size: 22pt;
        }
    }
}

.footer {
    background-color: black;
    color: white;
    padding: 32px;
    width: 100%;
    box-sizing: border-box;
    font-size: 10pt;
}

button {
    all: unset;
}